<!doctype html>
<html lang="en" ng-app="toDo">
  <head>
    <meta charset="utf-8">
    <title>To-do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
  </head>


  <body ng-controller="toDoController as toDoCtrl">
    <div class="contain">
      <h2 ng-hide="toDoCtrl.editing">Add task:</h2>
      <h2 ng-show="toDoCtrl.editing">Edit task:</h2>
      <input type="text" ng-model="toDoCtrl.task">
      <button class="addTaskBtn btn btn-success" ng-click="toDoCtrl.addTask()">OK</button>
      <button class="clearComplete btn btn-warning" ng-click="toDoCtrl.clearCompleted()">Clear Completed</button>
      <br>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" ng-click="toDoCtrl.showAll()" class="btn btn-xs groupee">All</button>
        <button type="button" ng-click="toDoCtrl.showActive()" class="btn btn-xs groupee">Active</button>
        <button type="button" ng-click="toDoCtrl.showCompleted()" class="btn btn-xs groupee showCompleteBtn">Completed</button>
      </div>
      <br>
      <div class="bullets">
        <div class='list' ng-repeat='task in toDoCtrl.taskList'>
          <input type='checkbox' class='checkit' ng-click="toDoCtrl.completeThat($index)">
          <h4 class='item completed-{{task.completed}}'>{{task.taskName}}</h4>
          <div class="buttons">
            <button class="editBtn btn btn-primary btn-xs" ng-click="toDoCtrl.editThat($index)">Edit</button>
            <button class="deleteBtn btn btn-danger btn-xs" ng-click="toDoCtrl.deleteThat($index)">Delete</button>
          </div>
          <br>
          <div class="breaker"></div>
        </div>
      </div>
    </div>
  </body>
</html>
