<!doctype html>
<html lang="en" ng-app="toDo">
  <head>
    <meta charset="utf-8">
    <title>To-do list</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
  </head>


  <body ng-controller="toDoController as toDoCtrl">
    <h3 ng-hide="toDoCtrl.editing">Add task:</h3>
    <h3 ng-show="toDoCtrl.editing">Edit task:</h3>
    <input type="text" ng-model="toDoCtrl.task">
    <button class="addTaskBtn btn" ng-click="toDoCtrl.addTask()">OK</button>

    <div class='list' ng-repeat='task in toDoCtrl.taskList'>
      <input type='checkbox' class='checkit' ng-click="toDoCtrl.completeThat($index)">
        <h2 class='items completed-{{task.completed}}'>{{task.taskName}}</h2>
      <button class="editBtn" ng-click="toDoCtrl.editThat($index)">Edit</button>
    </div>

  </body>
</html>
