<!doctype html>
<html lang="en" ng-app="toDo">
  <head>
    <meta charset="utf-8">
    <title>To-do list</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
  </head>


  <body ng-controller="toDoController as toDoCtrl">

    <input type="text" ng-model="toDoCtrl.task">
    <button class="addTaskBtn" ng-click="toDoCtrl.addTask()">Add Task</button>

    <div class='list' ng-repeat='task in toDoCtrl.taskList'>
      <input type='checkbox' ng-click="toDoCtrl.completeThat($index)">
      <span class="completed-{{task.completed}}">
        <h2 class='items'>{{task.taskName}}</h2>
      </span>
      <button class="editBtn" ng-click="toDoCtrl.showEditInput($index)">Edit</button>
      <div ng-show="toDoCtrl.isInEditMode($index)">
        <input class='editInput' ng-model='toDoCtrl.editedTask'>
        <button ng-click='toDoCtrl.editThat($index)'>Update</button>
      </div>
    </div>

  </body>
</html>
